<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        .navbar {
            background-color: #f4f4f4;
            padding: 10px 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .navbar h1 {
            margin: 0;
        }

        .table-schema {
            border: 1px solid #ccc;
            padding: 10px;
            width: 300px;
            /* Fixed width for each schema box */
            margin-bottom: 20px;
            /* Adds bottom spacing */
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }
        .content {
            display: flex;
            flex-wrap: wrap; /* Allow the items to wrap as needed */
            justify-content: space-between; /* Distribute space between and around content items */
        }

        th,
        td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f4f4f4;
        }

        .logout-link {
            border: 2px solid;
            padding: 5px;
            text-decoration: none;
            color: black;
        }

     
        .form-container {
            padding: 20px;
            margin: 30px;
            border: 1px solid #ccc;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            /* Optional: adds shadow for better visibility */
            width: 50%;
            /* Adjust width as necessary */
            max-width: 600px;
            /* Maximum width */
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 10px;
            /* Space between form items */
        }

        textarea {
            width: 100%;
            /* Ensures textarea fills the form */
        }

        button {
            padding: 10px;
            cursor: pointer;
            /* Pointer cursor on hover */
        }
    </style>
    <title>Dashboard</title>
</head>

<body>
    <div class="navbar">
        <h1>Welcome to the Dashboard</h1>
        <a href="/users/login" class="logout-link">LOGOUT</a>
    </div>
    <center>
        <div class="form-container">
            <form action="/query" method="post" target="_blank">
                <div>
                    <label for="sqlQuery">Enter your SQL Query:</label>
                    <textarea id="sqlQuery" name="sqlQuery" rows="4" cols="50"></textarea>
                </div>
                <button type="submit">Run Query</button>
            </form>
        </div>
    </center>

    <div class="content">
        <div class="table-schema">
            <h2>Account Profile</h2>
            <table>
                <tr>
                    <th>Column Name</th>
                    <th>Data Type</th>
                </tr>
                <tr>
                    <td>accountprofileid</td>
                    <td>bigint</td>
                </tr>
                <tr>
                    <td>bio</td>
                    <td>text</td>
                </tr>
                <tr>
                    <td>hobbies</td>
                    <td>text</td>
                </tr>
                <tr>
                    <td>location</td>
                    <td>character varying</td>
                </tr>
                <tr>
                    <td>profilename</td>
                    <td>character varying</td>
                </tr>
                <tr>
                    <td>upid</td>
                    <td>integer</td>
                </tr>
            </table>
        </div>
        <div class="table-schema">
            <h2>Block</h2>
            <table>
                <tr>
                    <th>Column Name</th>
                    <th>Data Type</th>
                </tr>
                <tr>
                    <td>accountprofileid</td>
                    <td>bigint</td>
                </tr>
                <tr>
                    <td>blockcount</td>
                    <td>integer</td>
                </tr>
                <tr>
                    <td>blockid</td>
                    <td>integer</td>
                </tr>
            </table>
        </div>
        <div class="table-schema">
            <h2>Comment Table</h2>
            <table>
                <tr>
                    <th>Column Name</th>
                    <th>Data Type</th>
                </tr>
                <tr>
                    <td>commentid</td>
                    <td>integer</td>
                </tr>
                <tr>
                    <td>commenttext</td>
                    <td>text</td>
                </tr>
                <tr>
                    <td>natureofcomment</td>
                    <td>character varying</td>
                </tr>

            </table>

        </div>


  
    <div class="table-schema">
        <h2>Follow Followers</h2>
        <table>
            <tr>
                <th>Column Name</th>
                <th>Data Type</th>
            </tr>
            <tr>
                <td>accountid</td>
                <td>bigint</td>
            </tr>
            <tr>
                <td>followers_count</td>
                <td>integer</td>
            </tr>
            <tr>
                <td>following_count</td>
                <td>integer</td>
            </tr>
            <tr>
                <td>is_spam</td>
                <td>boolean</td>
            </tr>
            <tr>
                <td>number_of_posts</td>
                <td>integer</td>
            </tr>
        </table>
    </div>
    <div class="table-schema">
        <h2>Group Info</h2>
        <table>
            <tr>
                <th>Column Name</th>
                <th>Data Type</th>
            </tr>
            <tr>
                <td>creationdate</td>
                <td>character varying</td>
            </tr>
            <tr>
                <td>groupdescription</td>
                <td>text</td>
            </tr>
            <tr>
                <td>groupid</td>
                <td>integer</td>
            </tr>
            <tr>
                <td>groupname</td>
                <td>character varying</td>
            </tr>
        </table>
    </div>

    <!-- Group Membership -->
    <div class="table-schema">
        <h2>Group Membership</h2>
        <table>
            <tr>
                <th>Column Name</th>
                <th>Data Type</th>
            </tr>
            <tr>
                <td>accountprofileid</td>
                <td>bigint</td>
            </tr>
            <tr>
                <td>groupid</td>
                <td>integer</td>
            </tr>
        </table>
    </div>

    <!-- Hashtag -->
    <div class="table-schema">
        <h2>Hashtag</h2>
        <table>
            <tr>
                <th>Column Name</th>
                <th>Data Type</th>
            </tr>
            <tr>
                <td>hashtag</td>
                <td>character varying</td>
            </tr>
            <tr>
                <td>hid</td>
                <td>integer</td>
            </tr>
        </table>
    </div>

    <!-- Post Hashtag -->
    <div class="table-schema">
        <h2>Post Hashtag</h2>
        <table>
            <tr>
                <th>Column Name</th>
                <th>Data Type</th>
            </tr>
            <tr>
                <td>hid</td>
                <td>integer</td>
            </tr>
            <tr>
                <td>postid</td>
                <td>real</td>
            </tr>
        </table>
    </div>
    
    <!-- Post Likes -->
    <div class="table-schema">
        <h2>Post Likes</h2>
        <table>
            <tr>
                <th>Column Name</th>
                <th>Data Type</th>
            </tr>
            <tr>
                <td>commentid</td>
                <td>integer</td>
            </tr>
            <tr>
                <td>likecount</td>
                <td>integer</td>
            </tr>
            <tr>
                <td>likeid</td>
                <td>integer</td>
            </tr>
            <tr>
                <td>postid</td>
                <td>real</td>
            </tr>
        </table>
    </div>

    <!-- Post Table -->
    <div class="table-schema">
        <h2>Post Table</h2>
        <table>
            <tr>
                <th>Column Name</th>
                <th>Data Type</th>
            </tr>
            <tr>
                <td>post_id</td>
                <td>real</td>
            </tr>
            <tr>
                <td>post_time</td>
                <td>character varying</td>
            </tr>
            <tr>
                <td>poster_id</td>
                <td>real</td>
            </tr>
            <tr>
                <td>poster_url</td>
                <td>character varying</td>
            </tr>
            <tr>
                <td>userid</td>
                <td>bigint</td>
            </tr>
        </table>
    </div>

    <!-- User Authentication -->
    <div class="table-schema">
        <h2>User Authentication</h2>
        <table>
            <tr>
                <th>Column Name</th>
                <th>Data Type</th>
            </tr>
            <tr>
                <td>User ID</td>
                <td>integer</td>
            </tr>
            <tr>
                <td>User Name</td>
                <td>character varying</td>
            </tr>
            <tr>
                <td>email</td>
                <td>character varying</td>
            </tr>
            <tr>
                <td>password</td>
                <td>character varying</td>
            </tr>
        </table>
    </div>

    <!-- User Profile -->
    <div class="table-schema">
        <h2>User Profile</h2>
        <table>
            <tr>
                <th>Column Name</th>
                <th>Data Type</th>
            </tr>
            <tr>
                <td>age</td>
                <td>integer</td>
            </tr>
            <tr>
                <td>firstname</td>
                <td>character varying</td>
            </tr>
            <tr>
                <td>gender</td>
                <td>character varying</td>
            </tr>
            <tr>
                <td>lastname</td>
                <td>character varying</td>
            </tr>
            <tr>
                <td>phone</td>
                <td>character varying</td>
            </tr>
            <tr>
                <td>upid</td>
                <td>integer</td>
            </tr>
        </table>
    </div>

    <!-- User Role -->
    <div class="table-schema">
        <h2>User Role</h2>
        <table>
            <tr>
                <th>Column Name</th>
                <th>Data Type</th>
            </tr>
            <tr>
                <td>accountprofileid</td>
                <td>bigint</td>
            </tr>
            <tr>
                <td>groupid</td>
                <td>integer</td>
            </tr>
            <tr>
                <td>role</td>
                <td>character varying</td>
            </tr>
        </table>
    </div>

</div>

</div>



</body>

</html>