<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    

    <title>index.ejs file</title>
</head>
<body>

    <a href="/users/login">Login</a>
    <br>
    <a href="/users/register"> register</a>
</body>
</html> 