<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">  
<style>
    body {
        font-family: Arial, sans-serif;
        /* background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%); */
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        font-size: 20px;
    
    }
    body::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('/image.png');
        background-size: cover;
        background-position: center;
        filter: blur(7px); /* Adjust the blur amount as needed */
        z-index: -1; /* Place behind content */
    }
    
    .login-container {
        background: rgba(255, 255, 255, 0.15);
        padding: 40px;
        border-radius: 10px;
        backdrop-filter: blur(10px);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        width: 300px;
        transition: transform 0.4s ease;
    }
    
    .login-container h2 {
        text-align: center;
        color: #fff;
        margin-bottom: 20px;
    }
    
    .input-group {
        margin-bottom: 20px;
    }
    
    .input-group label {
        display: block;
        color: #fff;
        margin-bottom: 5px;
    }
    
    .input-group input {
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        border: none;
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
    }
    
    button {
        width: 100%;
        padding: 10px;
        background-color: #ff8c00;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
    }
    
    button:hover {
        background-color: #e67e22;
    }
    
    .auxiliary-links {
        text-align: center;
        margin-top: 20px;
    }
    
    .auxiliary-links a {
        color: #cfd210;
        text-decoration: none;
        font-size: 14px;
    }
    
    .auxiliary-links a:not(:last-child) {
        margin-right: 10px;
    }
    
</style>
<title>Login Form</title>
</head>
<body>
    <div class="login-container">
        <form action="/users/login" method="POST">
            <h2>Login to Account</h2>
            <div class="input-group">
               <label for='email'>Email: </label>
            <input type="text" id='email' name='LoginEmail' placeholder="Enter your name ">
            </div>
            <div class="input-group">
               <label for='password'>Password: </label>
            <input type="text" id='password' name='password' placeholder="Enter your password">
            </div>
            <button type="submit">Log in</button>
           
            <p class="auxiliary-links" style= "color:white">Don't have a account? <a href="/users/register">Register</a></p>
        </form>
    </div>
</body>
</html>
